html{
	
	background-color: #711D1D ;
	color: #FFF6F4;
	
}
header{
	padding: 40px;
	text-align: center;
	background-color: rgba(202, 207, 210 , 0.2);
}
h1{
	font-size: 400%;
}
nav{
	width: 20%;
	padding: 20Px;
	padding-top: 0;
	display: inline-block;
	font-size: 125%;
}
nav a{
	width: 200px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	display: table;
	padding: 10%;
	margin: 0 auto;
	background-color: rgb(245, 220, 207 , 0.1) ;
	color: #D8D6D1 ;
}
nav a:hover{
	border: solid 2px #0CE2F4;
	border-radius: 10px;
}
.current{
	background-color: #D03535 ;

}
section{
	width: 70%;
	float: right;
}
h2{
	font-size: 225%;
}
p{
	font-size: 150%;
	text-align: justify;
	font-stretch: ultra-expanded;
	padding: 10px;
	margin-right: 10px;
}
details{
	margin-bottom: 50px;
	width: 80%;
}
summary{
	display: inline;
	width: 100%;
	border: solid 5px rgba(242, 250, 251 , 0);
	padding-left: 50px;
	background-color: rgba(242, 250, 251 , 0.25) ;

}
div{
	margin-bottom: 50px;
	width: 100%;
	border: solid 5px rgba(242, 250, 251 , 0.25);
	border-top: none;
	padding: 10px 25px 20px 25px;
	font-size: 150%;
	text-align: justify;
	font-stretch: ultra-expanded;
}
